src/dev/pipeline/pi_Insert_ActionPointEntryEvent.json
{
  "name": "pi_Insert_ActionPointEntryEvent",
  "type": "Microsoft.DataFactory/factories/pipelines",
  "properties": {
    "description": "ODM「アクションポイントエントリーevent」を作成する",
    "activities": [
      {
        "name": "at_Insert_EntryEvent_temp",
        "description": "KARTE全量event → アクションポイントエントリーevent_temp",
        "type": "Script",
        "dependsOn": [],
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 2,
          "retryIntervalInSeconds": 120,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "li_dam_dwh",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "scripts": [
            {
              "type": "NonQuery",
              "text": "----------------------------------------------------------------\n-- 2(a)_at_Insert_EntryEvent_temp\n-- アクションポイントエントリーevent_temp 作成\n----------------------------------------------------------------\n\nDECLARE @today date;\nSET @today=CONVERT(DATE, GETDATE() AT TIME ZONE 'UTC' AT TIME ZONE 'Tokyo Standard Time');  -- 実行日\n\nDECLARE @isEmpty int;\nSELECT @isEmpty=COUNT(*) FROM [omni].[omni_odm_actionpoint_trn_entry_event];  -- 「アクションポイントエントリーevent」のレコード数取得\nIF @isEmpty=0    -- 初回は全量作成する\nBEGIN\n    SET @today='2025-02-01';\nEND\n\ndeclare @targetDT as datetime;\nset @targetDT=DATEADD(day,-30,@today);   -- 実行日-30日\n\n\n----------------------------------------------------------------\n\nTRUNCATE TABLE [omni].[omni_odm_actionpoint_trn_entry_event_temp];\n\nINSERT INTO [omni].[omni_odm_actionpoint_trn_entry_event_temp]\nSELECT DISTINCT\n     KEY_MTGID as MTGID\n    ,CASE WHEN EVENT_NAME='ap_gas'   THEN 1\n          WHEN EVENT_NAME='ap_power' THEN 2\n          WHEN EVENT_NAME='ap_quiz'  THEN 3\n          ELSE 99\n     END as ACTION_POINT_TYPE\n    ,convert(date, EVENT_TIME) as EVENT_DATE   -- 日付にする\n    ,EVENT_NAME\nFROM [omni].[omni_ods_karte_trn_event]   -- KARTE全量event\n\nWHERE \n          EVENT_NAME in('ap_gas','ap_power','ap_quiz')   -- アクションポイントのアクセス\n      and KEY_MTGID is not NULL\n      and EVENT_TIME>=@targetDT\n;\n"
            }
          ],
          "scriptBlockExecutionTimeout": "02:00:00"
        }
      },
      {
        "name": "at_Insert_EntryEvent",
        "description": "アクションポイントエントリーevent_temp → アクションポイントエントリーevent",
        "type": "Script",
        "dependsOn": [
          {
            "activity": "at_Insert_EntryEvent_temp",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 2,
          "retryIntervalInSeconds": 120,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "li_dam_dwh",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "scripts": [
            {
              "type": "NonQuery",
              "text": "----------------------------------------------------------------\n-- 2(b)_at_Insert_EntryEvent\n-- アクションポイントエントリーevent 作成\n----------------------------------------------------------------\n\nDECLARE @today varchar(8);\nSET @today=format(CONVERT(DATE, GETDATE() AT TIME ZONE 'UTC' AT TIME ZONE 'Tokyo Standard Time'),'yyyyMMdd');  -- 実行日\n\n\n-- アクションポイントエントリーevent_tempから既存レコード削除\nDELETE tmp\nFROM [omni].[omni_odm_actionpoint_trn_entry_event_temp] tmp\n\nINNER JOIN [omni].[omni_odm_actionpoint_trn_entry_event] eev\n        ON\n                eev.MTGID=tmp.MTGID                          -- mTG会員ID\n            and eev.ACTIONPOINT_TYPE=tmp.ACTIONPOINT_TYPE    -- アクションポイント種別\n            and eev.ENTRY_DATE=tmp.ENTRY_DATE                -- エントリー年月日\n;\n\n\n-- アクションポイントエントリーeventに挿入\nINSERT INTO [omni].[omni_odm_actionpoint_trn_entry_event]\nSELECT\n     MTGID                  -- mTG会員ID\n    ,ACTIONPOINT_TYPE       -- アクションポイント種別\n    ,ENTRY_DATE             -- エントリー年月日\n    ,@today as REC_REG_YMD  -- 登録日\n    ,''     as REC_UPD_YMD  -- 更新日\nFROM [omni].[omni_odm_actionpoint_trn_entry_event_temp]   -- アクションポイントエントリーevent_temp\n;\n"
            }
          ],
          "scriptBlockExecutionTimeout": "02:00:00"
        }
      }
    ],
    "policy": {
      "elapsedTimeMetric": {}
    },
    "folder": {
      "name": "ActionPoint"
    },
    "annotations": [],
    "lastPublishTime": "2025-03-05T02:52:02Z"
  },
  "dependsOn": [
    "[concat(variables('factoryId'), '/linkedServices/li_dam_dwh')]"
  ]
}