src/dev/pipeline/pi_Send_mTGMailPermission.json
{
  "name": "pi_Send_mTGMailPermission",
  "type": "Microsoft.DataFactory/factories/pipelines",
  "properties": {
    "description": "MA向けリスト連携（メール許諾）",
    "activities": [
      {
        "name": "at_CreateCSV_mTGMailPermission",
        "type": "Copy",
        "dependsOn": [],
        "policy": {
          "timeout": "7.00:00:00",
          "retry": 10,
          "retryIntervalInSeconds": 60,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "source": {
            "type": "SqlDWSource",
            "sqlReaderQuery": "----------------------------------------------------------------------\n--  MA向けリスト連携 メール許諾 出力 at_CreateCSV_MailPermission\n----------------------------------------------------------------------\n\n-- 結果出力 => メール許諾\n\nDECLARE @today_jst varchar(20);\nSET @today_jst=format(CONVERT(DATETIME, GETDATE() AT TIME ZONE 'UTC' AT TIME ZONE 'Tokyo Standard Time'), 'yyyy/MM/dd HH:mm:ss');\n\nSELECT\n     cpinfo.ID_NO                     -- 会員ID\n    ,cpinfo.MAIL_ADR                  -- メールアドレス\n    ,cpinfo.SUBMAIL_ADR               -- サブメールアドレス\n    ,cpinfo.TEL_NO                    -- 電話番号\n    ,cpinfo.SUBTEL_NO                 -- 日中のご連絡先\n    ,mailsvc.SVC_CD                   -- サービスコード\n    ,mailsvc.START_YMD                -- 適用開始年月日\n    ,REPLACE(mailsvc.END_YMD, '99999999', '99991231') as END_YMD      -- 適用終了年月日\n    ,mailsvc.LOCK_FLG_CD              -- ロックフラグコード\n    ,mailsvc.REC_REG_YMD              -- レコード登録年月日\n    ,mailsvc.REC_REG_JKK              -- レコード登録時刻\n    ,mailsvc.REC_UPD_YMD              -- レコード更新年月日\n    ,mailsvc.REC_UPD_JKK              -- レコード更新時刻\n    ,@today_jst as OUTPUT_DATETIME    -- 出力日付\n    ,cpinfo.TAIKAI_FLAG               -- 退会フラグ　…追加\n    ,cpinfo.WEB_NO                    -- 8x（Web） …追加\n    ,cpinfo.TNP_CD                    -- 店舗コード …追加\n    ,cpinfo.THK_NWKSY_CD              -- THANKSネットワーク箇所コード …追加\n    ,cpinfo.ID_KBN                    -- 会員区分 …追加\n    ,cpinfo.REG_CD                    -- 会員登録経路 …追加\n    ,cpinfo.REG_COMP_FLG              -- 会員登録完了フラグ …追加\n    ,cpinfo.FIRST_MIGRATION_FLG       -- TGCRM初期移行フラグ …追加\n    ,cpinfo.FREE_ITEM01               -- 予備1 …追加\n    ,cpinfo.FREE_ITEM02               -- 予備2 …追加\n    ,cpinfo.FREE_ITEM03               -- 予備3 …追加\n    ,cpinfo.FREE_ITEM04               -- 予備4 …追加\n    ,cpinfo.FREE_ITEM05               -- 予備5 …追加\n    ,cpinfo.FREE_ITEM06               -- 予備6 …追加\n    ,cpinfo.FREE_ITEM07               -- 予備7 …追加\n    ,cpinfo.FREE_ITEM08               -- 予備8 …追加\n    ,cpinfo.FREE_ITEM09               -- 予備9 …追加\n    ,cpinfo.FREE_ITEM10               -- 予備10 …追加\nFROM [omni].[omni_ods_mytginfo_trn_cpinfo] cpinfo                     -- 会員基本情報\nLEFT OUTER JOIN [omni].[omni_ods_mytginfo_trn_mailsvc] mailsvc        -- メールサービス\n     ON cpinfo.ID_NO = mailsvc.ID_NO;                        -- 会員基本情報.会員ID=メールサービス.会員ID\n;\n",
            "queryTimeout": "02:00:00",
            "partitionOption": "None"
          },
          "sink": {
            "type": "DelimitedTextSink",
            "storeSettings": {
              "type": "AzureBlobStorageWriteSettings"
            },
            "formatSettings": {
              "type": "DelimitedTextWriteSettings",
              "quoteAllText": true,
              "fileExtension": ".csv"
            }
          },
          "enableStaging": false,
          "translator": {
            "type": "TabularTranslator",
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            }
          }
        },
        "inputs": [
          {
            "referenceName": "ds_DamDwhTable_shir",
            "type": "DatasetReference",
            "parameters": {
              "table": "--"
            }
          }
        ],
        "outputs": [
          {
            "referenceName": "ds_CSV_BlobGz",
            "type": "DatasetReference",
            "parameters": {
              "directory": "datalake/OMNI/MA/mTGMailPermission",
              "columnDelimiter": ",",
              "quoteChar": "\"",
              "firstRowAsHeader": true,
              "filename": {
                "value": "@concat('mTGMailPermission_', convertFromUtc(utcnow(), 'Tokyo Standard Time', 'yyyyMMdd'), '.csv.gz')",
                "type": "Expression"
              }
            }
          }
        ]
      },
      {
        "name": "at_SendSftp_mTGMailPermission",
        "type": "Copy",
        "dependsOn": [
          {
            "activity": "at_CreateCSV_mTGMailPermission",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "7.00:00:00",
          "retry": 10,
          "retryIntervalInSeconds": 60,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "source": {
            "type": "BinarySource",
            "storeSettings": {
              "type": "AzureBlobStorageReadSettings",
              "recursive": false,
              "deleteFilesAfterCompletion": false
            },
            "formatSettings": {
              "type": "BinaryReadSettings"
            }
          },
          "sink": {
            "type": "BinarySink",
            "storeSettings": {
              "type": "SftpWriteSettings",
              "operationTimeout": "01:00:00",
              "useTempFileRename": false
            }
          },
          "enableStaging": false
        },
        "inputs": [
          {
            "referenceName": "ds_BlobGz",
            "type": "DatasetReference",
            "parameters": {
              "directory": "datalake/OMNI/MA/mTGMailPermission",
              "filename": {
                "value": "@concat('mTGMailPermission_', convertFromUtc(utcnow(), 'Tokyo Standard Time', 'yyyyMMdd'), '.csv.gz')",
                "type": "Expression"
              }
            }
          }
        ],
        "outputs": [
          {
            "referenceName": "ds_Gz_Sftp",
            "type": "DatasetReference",
            "parameters": {
              "directory": "Import/DAM/mTGMailPermission",
              "filename": {
                "value": "@concat('mTGMailPermission_', convertFromUtc(utcnow(), 'Tokyo Standard Time', 'yyyyMMdd'), '.csv.gz')",
                "type": "Expression"
              }
            }
          }
        ]
      }
    ],
    "policy": {
      "elapsedTimeMetric": {}
    },
    "folder": {
      "name": "SMC"
    },
    "annotations": [],
    "lastPublishTime": "2024-11-05T06:55:36Z"
  },
  "dependsOn": [
    "[concat(variables('factoryId'), '/datasets/ds_DamDwhTable_shir')]",
    "[concat(variables('factoryId'), '/datasets/ds_CSV_BlobGz')]",
    "[concat(variables('factoryId'), '/datasets/ds_BlobGz')]",
    "[concat(variables('factoryId'), '/datasets/ds_Gz_Sftp')]"
  ]
}