src/dev/pipeline/pi_Send_PaymentMethodChanged.json
{
  "name": "pi_Send_PaymentMethodChanged",
  "type": "Microsoft.DataFactory/factories/pipelines",
  "properties": {
    "description": "支払い方法変更",
    "activities": [
      {
        "name": "at_CreateCSV_PaymentMethodChanged",
        "type": "Copy",
        "dependsOn": [],
        "policy": {
          "timeout": "7.00:00:00",
          "retry": 10,
          "retryIntervalInSeconds": 60,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "source": {
            "type": "SqlDWSource",
            "sqlReaderQuery": "-- 「支払方法変更」作成 at_CreateCSV_PaymentMethodChanged\n\nDECLARE @isChanged int;\n\nDECLARE @recRecDT_pre varchar(8);   -- 前日分ガス契約（契約中）日次お客さま情報_tempの登録日\nDECLARE @recRecDT     varchar(8);   -- ODM.ガス契約（契約中）日次お客さま情報の登録日\n\nSELECT top 1 @recRecDT_pre=[REC_REG_YMD2] FROM [omni].[omni_odm_gascstmr_trn_previousday_gaskiy_temp]\nSELECT top 1 @recRecDT=[REC_REG_YMD2] FROM [omni].[omni_odm_gascstmr_trn_gaskiy]\n\nSELECT @isChanged=count(*)\nFROM [omni].[omni_ods_ma_trn_changed_payment_temp]\nWHERE [REC_REG_YMD_PRE]=@recRecDT_pre and [REC_REG_YMD]=@recRecDT;\n\nIF @isChanged=0  -- 以前に「支払い方法が変更された顧客_temp」を作成したときに使用した前日分とODMが変化したとき\n    BEGIN\n        -- ①作業テーブル作成\n\n        TRUNCATE TABLE [omni].[omni_ods_ma_trn_changed_payment_temp];   -- 支払い方法が変更された顧客_temp\n\n        INSERT [omni].[omni_ods_ma_trn_changed_payment_temp]\n        SELECT\n             B.[SYO_KYO_TRNO]\n            ,A.REC_REG_YMD2\n            ,B.REC_REG_YMD2\n        FROM [omni].[omni_odm_gascstmr_trn_previousday_gaskiy_temp] A   -- 前日分ガス契約（契約中）日次お客さま情報_temp\n        INNER JOIN [omni].[omni_odm_gascstmr_trn_gaskiy] B              -- ODM.ガス契約（契約中）日次お客さま情報\n              ON A.[SVKY_NO]=B.[SVKY_NO]\n              AND A.[SIH_KIY_NO]=B.[SIH_KIY_NO]\n        WHERE A.[SIH_HUHU_SHBT]='2'    -- 2:払込\n          and B.[SIH_HUHU_SHBT]<>'2'\n          and B.[SIK_SVC_SHBT] not in ('11','12','13','21')\n        ;\n\n\n        -- 「支払方法変更」出力\n        DECLARE @today_jst varchar(20);  -- 実行日\n        SET @today_jst=format(CONVERT(DATETIME, GETDATE() AT TIME ZONE 'UTC' AT TIME ZONE 'Tokyo Standard Time'),'yyyy/MM/dd HH:mm:ss');\n\n        SELECT Bx\n              ,INDEX_ID\n              ,SYO_KYO_TRNO\n              ,@today_jst as OUTPUT_DATETIME\n        FROM (\n            SELECT\n                 A.Bx\n                ,A.INDEX_ID\n                ,t.SYO_KYO_TRNO\n                ,ROW_NUMBER() OVER(PARTITION BY [Bx] ORDER BY [OUTPUT_DATE] desc) as rown   -- 同一Bx中のOUTPUT_DATEの降順\n            FROM [omni].[omni_ods_cloak_trn_usageservice] A              -- 利用サービス\n            INNER JOIN [omni].[omni_ods_ma_trn_changed_payment_temp] t   -- 支払い方法が変更された顧客_temp\n                  ON A.USER_KEY=t.SYO_KYO_TRNO\n                  AND A.USER_KEY_TYPE='003'\n                  AND A.SERVICE_TYPE='001'     -- 001：ガス\n                  AND A.TRANSFER_TYPE='02'     -- 2:提供中\n        )tmp\n        WHERE rown=1\n        ;\n    END\nELSE\n    BEGIN\n        -- 前日分とODMが変化ないため、カラムだけ出力する\n        SELECT top 0\n             NULL as Bx\n            ,NULL as INDEX_ID\n            ,NULL as SYO_KYO_TRNO\n            ,NULL as OUTPUT_DATETIME\n        ;\n    END\n;\n",
            "queryTimeout": "02:00:00",
            "partitionOption": "None"
          },
          "sink": {
            "type": "DelimitedTextSink",
            "storeSettings": {
              "type": "AzureBlobStorageWriteSettings"
            },
            "formatSettings": {
              "type": "DelimitedTextWriteSettings",
              "quoteAllText": true,
              "fileExtension": ".csv"
            }
          },
          "enableStaging": false,
          "translator": {
            "type": "TabularTranslator",
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            }
          }
        },
        "inputs": [
          {
            "referenceName": "ds_DamDwhTable_shir",
            "type": "DatasetReference",
            "parameters": {
              "table": "--"
            }
          }
        ],
        "outputs": [
          {
            "referenceName": "ds_CSV_BlobGz",
            "type": "DatasetReference",
            "parameters": {
              "directory": "datalake/OMNI/MA/PaymentMethodChanged",
              "columnDelimiter": ",",
              "quoteChar": "\"",
              "firstRowAsHeader": true,
              "filename": {
                "value": "@concat('PaymentMethodChanged_', convertFromUtc(utcnow(), 'Tokyo Standard Time', 'yyyyMMdd'), '.csv.gz')",
                "type": "Expression"
              }
            }
          }
        ]
      },
      {
        "name": "at_SendSftp_PaymentMethodChanged",
        "type": "Copy",
        "dependsOn": [
          {
            "activity": "at_CreateCSV_PaymentMethodChanged",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "7.00:00:00",
          "retry": 10,
          "retryIntervalInSeconds": 60,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "source": {
            "type": "BinarySource",
            "storeSettings": {
              "type": "AzureBlobStorageReadSettings",
              "recursive": false,
              "deleteFilesAfterCompletion": false
            },
            "formatSettings": {
              "type": "BinaryReadSettings"
            }
          },
          "sink": {
            "type": "BinarySink",
            "storeSettings": {
              "type": "SftpWriteSettings",
              "operationTimeout": "01:00:00",
              "useTempFileRename": true
            }
          },
          "enableStaging": false
        },
        "inputs": [
          {
            "referenceName": "ds_BlobGz",
            "type": "DatasetReference",
            "parameters": {
              "directory": "datalake/OMNI/MA/PaymentMethodChanged",
              "filename": {
                "value": "@concat('PaymentMethodChanged_', convertFromUtc(utcnow(), 'Tokyo Standard Time', 'yyyyMMdd'), '.csv.gz')",
                "type": "Expression"
              }
            }
          }
        ],
        "outputs": [
          {
            "referenceName": "ds_Gz_Sftp",
            "type": "DatasetReference",
            "parameters": {
              "directory": "Import/DAM/PaymentMethodChanged",
              "filename": {
                "value": "@concat('PaymentMethodChanged_', convertFromUtc(utcnow(), 'Tokyo Standard Time', 'yyyyMMdd'), '.csv.gz')",
                "type": "Expression"
              }
            }
          }
        ]
      }
    ],
    "policy": {
      "elapsedTimeMetric": {}
    },
    "folder": {
      "name": "SMC"
    },
    "annotations": [],
    "lastPublishTime": "2024-11-28T10:30:09Z"
  },
  "dependsOn": [
    "[concat(variables('factoryId'), '/datasets/ds_DamDwhTable_shir')]",
    "[concat(variables('factoryId'), '/datasets/ds_CSV_BlobGz')]",
    "[concat(variables('factoryId'), '/datasets/ds_BlobGz')]",
    "[concat(variables('factoryId'), '/datasets/ds_Gz_Sftp')]"
  ]
}